#about {
    padding: var(--section-padding);
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
}

#aboutMeCard {
    display: flex;
    border: 1px solid darkgray;
    flex: 1;
    margin-bottom: 0px;
    min-height: 600px;
}

#aboutMeCard > div {
    display: flex;
    flex-direction: column;
}

#aboutHeader {
    font-size: var(--header-large-font-size);
}

#aboutMeContent {
    font-size: var(--content-large-font-size);
    display: flex;
    flex-direction: column;
    flex: 1;
}

#aboutMeContent > div:first-child {
    flex: 1;
    border-bottom: 1px solid currentColor;
}

#aboutMeContent > div:last-child {
    padding-top: 16px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.aboutMeText {
    margin-bottom: 16px;
}

.accomplishmentsDiv {
    display: flex;
    margin-bottom: 16px;
    flex-basis: 100%;
}

.accomplishmentsDiv > p {
    margin-left: 16px;
}


@media only screen and (min-width: 320px) {
    #aboutMeCard {
        min-height: 520px;
    }
}

@media only screen and (min-width: 441px) {
    #aboutMeCard {
        min-height: 480px;
    }
}

@media only screen and (min-width: 740px) {
    #aboutMeCard {
        margin-bottom: var(--between-section-margin);
    }
}

@media only screen and (min-width: 780px) {
    #aboutMeCard {
        min-height: 500px;
    }
}

@media only screen and (min-width: 810px) {
    .accomplishmentsDiv {
        flex-basis: 50%;
    }
}

@media only screen and (min-width: 1180px) {
    #about {
        flex-direction: row;
    }

    #aboutMeCard {
        margin-right: 64px;
        margin-bottom: 0px;
    }
    
}

@media only screen and (min-width: 1400px) {
    #aboutMeCard {
        min-height: 400px;
    }

    #aboutMeContent {
        flex-direction: row;
    }

    #aboutMeContent > div:first-child {
        padding-right: 16px;
        border-bottom: none;
        border-right: 1px solid currentColor;
    }

    #aboutMeContent > div:last-child {
        padding-top: 0;
        padding-left: 16px;
        max-width: 40%;
        display: flex;
        flex-direction: column;
    }

    .accomplishmentsDiv {
        flex-basis: auto;
    }
}

#skillsSlotsCard {
    border: 1px solid rgb(80, 80, 80);
    min-height: 240px;
    flex: 1;
}

#skillsSlotsCard > div {
    display: flex;
    padding: var(--card-padding);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#skillsTextDiv {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

#skillsTextPreamble {
    font-family: "Cintaly";
    font-size: 2em;
}

#skillsTextMask {
    margin-top: 32px;
    position: relative;
    min-height: 2.8em;
    width: 240px;
    overflow: hidden;
    transform: translate(0, -50%);
}

#skillsTextMask > div {
    position: absolute;
    left: 0;
    text-align: center;
    width: 100%;
    font-size: 2.4em;
}

#resumeDownloadButton {
    margin-top: 16px;
    min-height: 60px;
    max-height: 60px;
    flex: 1;
    min-width: 240px;
    max-width: 240px;
}

#resumeDownloadButton > button {
    padding: 16px;
    justify-content: space-around;
}

@media only screen and (min-width: 740px) {
    #skillsSlotsCard {
        min-height: 160px;
    }

    #skillsSlotsCard > div {
        flex-direction: row;
    }

    #skillsTextMask {
        margin-top: 16px;
    }

    #resumeDownloadButton {
        margin-left: 16px;
    }
}

@media only screen and (min-width: 910px) {
    #skillsTextDiv {
        flex-direction: row;
    }

    #skillsTextMask {
        margin-top: 32px;
    }
}

@media only screen and (min-width: 1180px) {
    #skillsSlotsCard {
        min-height: 400px;
        max-width: 300px;
    }

    #skillsSlotsCard > div {
        flex-direction: column;
    }

    #skillsTextDiv {
        flex: 1;
        flex-direction: column;
    }

    #skillsTextMask {
        width: 100%;
    }

    #resumeDownloadButton {
        margin-top: 32px;
        flex: 0;
        max-width: 400px;
        margin-left: 0;
    }
}