.monthItemParent {
    display: flex;
}

.monthItem {
    min-height: 120px;
    max-height: 120px;
    text-align: left;
    cursor: pointer;
    padding: 4px;
}

.monthItem:hover {
    outline: 1px solid rgba(255, 255, 255, 0.8);
}

.monthItemDay {
    font-weight: bold;
}

.monthItemNoteItem {
    display: flex;
    margin-top: 4px;
}

.monthItemNotesTypeIcon {
    margin-right: 3px;
}

.monthItemNotesText {
    font-size: 0.85em;
}

.monthItemAdditionalNotesMessage {
    font-size: 0.8em;
    font-style: italic;
}