#skills {
    padding: var(--section-padding);
    padding-bottom: 0;
    display: flex;
}

#skillsCard {
    border: 1px solid darkgray;
    min-height: 1110px;
    flex: 1;
}

#skillsCard > div {
    display: flex;
    flex-direction: column;
}

#skillsHeader {
    font-size: var(--header-large-font-size);
}

#skillsCardContent {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#certifcateSection {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgb(80, 80, 80);
    flex-basis: 33%;
    justify-content: space-between;
}

.certificateDiv {
    display: flex;
    flex-direction: column;
    padding-bottom: 16px;
    margin-bottom: 16px;
    border-bottom: 1px solid rgb(80, 80, 80);
}

.certificateDiv:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

.certificateHeaderRow {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.certificateHeaderRow > div {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.certificateIcon {
    margin-right: 8px;
    font-size: 1.5rem !important;
}

.certificateHeader {
    font-size: var(--header-medium-font-size);
    font-family: "Moon";
}

.certificateSubheaderDiv {
    font-size: 0.85em;
    display: flex;
}

.certificateSubheader {
    flex: 1;
}

.certificateDate {
    font-style: italic;
}

.certificateLinkRow {
    margin-top: 16px;
    display: flex;
    align-items: center;
}

.certificateLinkIcon {
    margin-right: 8px;
    font-size: 0.9em !important;
}

.certificateLink {
    text-decoration: none;
    font-size: var(--content-medium-font-size);
    font-style: italic;
    color: rgb(80, 80, 80);
}

.certificateLink:hover {
    text-decoration: underline;
}

#skillsChipSection {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    transition: ease-in 200ms;
    align-content: flex-start;
    height: min-content;
    justify-content: start;
    margin: 16px 0;
}

.skillChip {
    outline: 1px solid rgb(80, 80, 80);
    height: 1em;
    padding: 4px 16px;
    border-radius: 16px;
    cursor: pointer;
    transition: ease-in 200ms;
    margin: 4px 4px;
}

.activeSkillChip {
    color:white;
    background-color: rgb(0, 100, 255);
}

#skillsDescriptionSection {
    flex: 1;
    border-top: 1px solid rgb(80, 80, 80);
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#skillsDescriptionSection > div {
    height: 100%;
}

#skillsDescriptionHeader {
    font-family: "Moon";
    font-size: 1.4em;
    margin: 8px 0;
}

.skillsDescriptionLine {
    margin-bottom: 16px;
}

.skillsDescriptionLine:last-child {
    margin-bottom: 0;
}

#skillsDescriptionHoverPrompt {
    text-align: center;
    font-family: "OstrichSans";
    font-size: var(--header-medium-font-size);
    font-style: italic;
}

@media only screen and (min-width: 301px) {
    #skillsCard {
        min-height: 1080px;
    }
}

@media only screen and (min-width: 322px) {
    #skillsCard {
        min-height: 1000px;
    }
}

@media only screen and (min-width: 358px) {
    #skillsCard {
        min-height: 950px;
    }
}

@media only screen and (min-width: 369px) {
    #skillsCard {
        min-height: 890px;
    }
}

@media only screen and (min-width: 442px) {
    #skillsCard {
        min-height: 820px;
    }
}

@media only screen and (min-width: 515px) {
    #skillsCard {
        min-height: 740px;
    }
}

@media only screen and (min-width: 600px) {
    #skillsCard {
        min-height: 780px;
    }

    .certificateIcon {
        font-size: 2.25rem !important;
    }

    .certificateLinkIcon {
        font-size: 1.2rem !important;
    }
}
