#projects {
    display: flex;
    justify-content: space-between;
    padding: var(--section-padding);
    position: relative;
    flex-direction: column;
}

.projectCard {
    min-height: 540px;
    flex: 1;
}

.projectCard:last-child {
    margin-right: 0;
}

.projectCard > div {
    padding: var(--card-padding);
    display: flex;
    flex-direction: column;
}

.projectHeader {
    font-size: var(--header-medium-font-size);
}

.projectImagesDiv {
    height: 180px;
    background-color: black;
    cursor: pointer;
}

.projectImagesDiv:hover {
    outline: 2px solid rgb(0, 100, 255);
}

.projectImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.projectDescription {
    margin-top: 16px;
    flex: 1;
}

.projectDemoButton {
    height: 60px;
    width: 200px;
    margin: 0 auto;
    margin-top: 16px;
    display: flex;
}

.projectDemoLink {
    text-decoration: none;
}

@media only screen and (min-width: 345px) {
    .projectCard {
        min-height: 500px;
    }
}


@media only screen and (min-width: 480px) {
    .projectImagesDiv {
        min-height: 240px;
    }
}
